In [48]:
print("NAMASTE")

NAMASTE

In [49]:
# type()
b = "World"
print(type(b))

<class 'str'>

In [50]:
# type()
c = 10.5
print(type(c))

<class 'float'>

In [51]:
# type ()
a = 10
print(type(a))

<class 'int'>

# Using Input

In [52]:
a = input("Enter the value of a")
print("A : ", a)

A :  jii

# Comments

In [53]:
#single line comments

# we can type anything in comments
# This is  a single line comments
# we can always use (#) symbol in single line comments

In [3]:
# multiline comments

'''This is a multiline comments in
python'''

'This is a multiline comments in\npython'

# docstring comment

# Error In Python

There are 3 types of error in python
1. Syntax Error
2. Logical Error
3. Runtime Error

# 1. Syntax Error

The Python SyntaxError occurs when the interpreter encounters invalid syntax in code

# 2. Logical Error

A logical error occurs in Python when the code runs without any syntax or runtime errors but produces incorrect results due to flawed logic in the code

# 3. Runtime Error

A runtime error in a program is an error that occurs while the program is running after being successfully compiled.

# KeyWords

In [55]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

# DataTypes

1. Data types are used before the veriable, to know which type of values  are stored in veriable.
2. Data types are actually classes and veriables are instence (objects) of these classes

1. Numeric - integer, float, complex number
2. Boolean - True, False
3. Set
4. Dictionary 
5. Sequence - List, Tuple, String

In [56]:
# int DataType
a = 10
print(type(a))

# float DataType
b = 10.5
print(type(b))

# complex DataType
c = 2 + 4j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

# Boolean

In [57]:
d = True
print(type(d))

e = False
print(type(e))

<class 'bool'>
<class 'bool'>

# Set DataType

1. Sets are used to store multiple items in a single variable.
2. A set is a collection which is unordered, unchangeable*, and unindexed.

In [58]:
f = {'a', 'b', 'c'}
print(type(f))

<class 'set'>

# Dictionary DataType

In [59]:
x = {"Key":"Value"}
print(type(x))

<class 'dict'>

# Sequence DataType

In [60]:
# List DataType
l1 = [1,2,3,4,5]
print(type(l1))

# String DataType
y = "Python Program"
print(type(y))

# Tuple DataType
z = (1,2,3,4,5)
print(type(z))

<class 'list'>
<class 'str'>
<class 'tuple'>

# Variable

1. Variable are names to store the value
2. Rules of Variable
    1. variable should start with alphabets only
    2. variable name should not have whitespace
    3. we cannot use dataType name as a variable name
    4. variable name are significant

In [61]:
# int value to the variable
a = 10
print(a)
print(type(a))

# float value to the variable
b = 10.5
print(b)
print(type(b))

# string value to the variable
c = "python"
print(c)
print(type(c))

# list store ub the variable
l1 = [1,2,3,4,5]
print(l1)
print(type(l1))


# tuple store in the variable
t1 = (1,2,3,4,5)
print(t1)
print(type(t1))

10
<class 'int'>
10.5
<class 'float'>
python
<class 'str'>
[1, 2, 3, 4, 5]
<class 'list'>
(1, 2, 3, 4, 5)
<class 'tuple'>

# Annotating variables by type

Type annotation allows you to clearly communicate the argument types and return type of functions in your code. It’s like giving yourself and other developers hints about what kind of data the variable is supposed to hold. This has several benefits: It reduces the chance of common mistakes, helps in documenting your code for others to reuse, and allows integrated development software (IDEs) and other tools to give you better feedback.

In [62]:
# String
name: str ="Betty"

In [63]:
# integer
age : int = 35

# Variables Annotated by Type

Type annotations are optional in Python. They can be very helpful, though, because they make code easier to read. Annotations make the variable types clear to those reading the code. They can also help you catch errors during compilation. In the example below, we are using the typing module to annotate the different types of variables.

In [64]:
import typing
# Define a variable of type str
z: str = "Hello, world!"
# Define a variable of type int
x: int = 10
# Define a variable of type float
y: float = 1.23
# Define a variable of type list
list_of_numbers: typing.List[int] = [1, 2, 3]
# Define a variable of type tuple
tuple_of_numbers: typing.Tuple[int, int, int] = (1, 2, 3)
# Define a variable of type dict
dictionary: typing.Dict[str, int] = {"key1": 1, "key2": 2}
# Define a variable of type set
set_of_numbers: typing.Set[int] = {1, 2, 3}

# Skill Group 1

1. Use variables to store values
2. Use basic arithmetic operators with variables to create expressions
3. Use explicit conversion to change a data type from float to string

In [65]:
# The following lines assign the variable to the left of the =
# assignment operator with the values and arithmetic expressions
# on the right side of the = assignment operator.
hotel_room = 100
tax = hotel_room * 0.08
total = hotel_room + tax
room_guests = 4
share_per_person = total/room_guests


# This line outputs the result of the final calculation stored
# in the variable "share_per_person"
print("Each person needs to pay: " + str(share_per_person)) # change a data type

Each person needs to pay: 27.0

# Skill Group 2

1. Output multiple string variables on a single line to form a sentence
2. Use the plus (+) connector or a comma to connect strings in a print() function
3. Create spaces between variables in  a print() function

In [66]:
# The following 5 lines assign strings to a list of variables.
salutation = "Dr."
first_name = "Prisha"
middle_name = "Jai"
last_name = "Agarwal"
suffix = "Ph.D."

print(salutation + " " + first_name + " " + middle_name + " " + last_name + ", " + suffix)
# The comma as a string ", " adds the conventional use of a comma plus a
# space to separate the last name from the suffix.

# Alternatively, you could use commas in place of the + connector:
print(salutation, first_name, middle_name, last_name,",", suffix)
# However, you will find that this produces a space before a comma within a string.

Dr. Prisha Jai Agarwal, Ph.D.
Dr. Prisha Jai Agarwal , Ph.D.

# Skill Group 3

1. Resolve TypeError caused by a data type mismatch issue
2. Use an explicit conversion function

In [67]:
# The following code causes a type error between a string
# and an integer:

print("5 * 3 = " + str(5*3))


# Resolution:
# print("5 * 3 = " + str(5*3))
#
# To avoid a type error between the string and the integer within the
# print() function, you can make an explicit data type conversion by
# using the str() function to convert the integer to a string.

5 * 3 = 15

# Skill Group 4

1. Resolve a ZeroDivisionError caused by an attempt to divide by 0

In [68]:
numerator = 7
denominator = 1   # Possible resolution: Change the denominator value
result = numerator / denominator
print(result)


# One possible assumption for a number divided by zero error might
# include the issue of a null value as a denominator (could happen when
# using a loop to iterate over values in a database). In such cases, the
# desired outcome may be to leave the numerator value intact. The
# numerator value can be preserved by reassigning the denominator with
# the integer value of 1. The result would then equal the numerator.

7.0

# TypeConversion/TypeCasting

In [2]:
# converting from one datatype to another datatype called
# typeCoversion / typeCasting

a = int(input("Enter the value of A : ")) #default type is string
print("A : ", a)
print(type(a))

A :  5
<class 'int'>

# Operators

1. Operators are used to perform operations on variables and values in python
2. Type of Operators :
    1. Arithmetic Operators (+, -, *, /, %(modules), ++(increment), --(decrement))
    2. Assignment Operators (=, +=, -=, *=, /=, %=, <<=, >>=, >>>=, &=, ^=, |=)
    3. Comparsion Operators (>, <, <=, >=, ==, !=, ===(Equal value and same type), !===(Not equal value and not same type))
    4. Logical Operators (And, Or, Not)
    5. Identity Operators (Is(return true if both variable are same object), Is Not(return true if both variable are not same object))
    6. Membership Operators (In (Return true if a sequence with the specified value is present in the object), Not In (Return true if a sequence with the specified value is not present in the object))

# Arithmetic Operators

In [ ]:
# Addition Operators
x = 5
y = 10
z = x+y
print("Answer : ", z )

Answer :  15

In [ ]:
# Substraction Operators
x = 10
y = 5
z = x-y
print("Subtract : ", z)

Subtract :  5

In [ ]:
# Multiplication Operator
x = 10
y = 4
z = x*y
print("Answer : ", z)

Answer :  40

In [ ]:
# Devision Operator
x = 20
y = 5
z = int(x/y) # default value is float
print("Answer : ", z)

Answer :  4

In [ ]:
# Modules Operator
x = 7
y = 3
z = x%y
print("Answer : ", z)

Answer :  1

# Assignment Operator

In [ ]:
# Equalto Operator
x = 5
print("x : ", x)

x :  5

In [ ]:
# Addition and Equalto Operator
x = 5
x += 1 # x = x+1
print("X : ", x)

X :  6

In [ ]:
# Substraction and Equalto Operator
x = 7
x -= 1 # x = x - 1
print("X : ", x)

X :  6

# Comparsion Operator

In [ ]:
# Equalto-Equalto Operator
x = 3
# y = 4
y = 3
print(x==y)

True

In [ ]:
# not Equalto operator
x = 5
y = 3
print(x!=y)

True

In [ ]:
# Greater than equalto
x = 7
y = 3
print(x>=y)

True

# Logical Operator

In [ ]:
# And Operator
x = 5
print(x>3 and x<4) # if both the condition is true then the answer is true

False

In [ ]:
# Or Operator
x = 5
print(x>3 or x>7) # if one of the condition is true then or return true

True

# Identity Operator

In [4]:
# Is Operator
x = ["Apple", "Mango"]
y = ["Apple", "Mango"]
z = x
print(x is y) # the object is not matching that's why it gives as false

print(x is z) # the object is matching that's why it returns true

False
True

# Membership Operator

In [7]:
# In operator
x = ["Apple", "Mango"]
print("Banana" in x) # banana is not in x that's why it returns false
print("Grapes" not in x) # Grapes is not in x that's why it returns true

False
True

# Operator Precedence

1. which operator evaluates first can be confusing. So we have some rules for this too. This is the precedence table that denotes which operator evaluates first.
2. We use brackets() to avoid the precedence

In [ ]:
values = (1+1)*2**4//3+4-1
#           2*2**4//3+4-1
#           2*16//3+4-1
#           32//3+4-1
#           10+4-1
#           14-1
#           13
print(values)

13

# note
Floor division is a division operation that returns the largest integer that is less than or equal to the result of the division. In Python, it is denoted by the double forward slash ‘//’.

Example

If we divide 7 by 3 using floor division, we get:

2

In [ ]:
a = 20
b = 10
c = 15
d = 5
x = (((a+b)*c)/d)
print("X : ", x)

X :  90.0

# Assignments

    Question 1.
        Write a program to print a string "Hello Python".

    Question 2. 
        Write a program to store one value in variable and print that variable.

    Question 3. 
        Write a program to take value from user input and print that value.

    Question 4.
        Write a program to do a sum of two values.

    Question 5.
        Write a program to perform devision using variables
    
    Question 6. 
        Write a program to print multiple value of variables
    
    Question 7. 
        Write a program to find a type of variable
    
    Question 8. 
        Write a program to take two integer value from the user and check both values are same

In [ ]:
# Question 1.
print("Hello Python")

Hello Python

In [ ]:
# Question 2.
x = "Namaste"
print(x)

Namaste

In [ ]:
# Question 3
x = input("Enter the value of x : ")
print("the value of x is : ", x)

the value of x is :  43

In [ ]:
# Question 4
x = 4
y = 7
z = x+y
print(z)

11

In [ ]:
# Question 5
x = 4
y = 2
print(x/y)

2.0

In [ ]:
# Question 6
a = 10
b = 5
c = 5
d = 7
print(a)
print(b)
print(c)
print(d)

10
5
5
7

In [ ]:
# Question 7
a = 5
b = "python"
c = 10.5
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [1]:
# Question 8
a = int(input("Enter the value of a : "))
b = int(input("Enter the value of b : "))
c = a+b
print("The values of a + b is ", c)

The values of a + b is  11

# Swap the Variable

In [ ]:
#a,b = 10,7
a = 10
b = 7
a,b = b,a

print("a =",a ,"b =",b)

a = 7 b = 10

In [ ]:
# Swap the variable
a= 12
b=6
c = a
a = b
b = c

print("a =",a ,"b =",b)

a = 6 b = 12

# Conditional Statement

1. conditional statement in python perform different computations or actions depending on whether a specific Boolean constraint evaluates to true false.
2. Conditional statements are handled by IF statements in Pyton
3. Conditional statement is one type of boolean means it returns true or false

There are 4 types of conditions
1. Simple if
2. if_else
3. if_else Ladder
4. Nested if

# 1. Simple if

In [ ]:
# Simple if
var = 10
if(var==10): # My condition is getting true
    print("The value of var is : ", var)
print("Bye")

The value of var is :  10
Bye

In [ ]:
# Simple if
a = 25
if(a>=30): # my condition is getting false
    print("The value of a is : ", a)
print("The upper condition is false")

The upper condition is false

# 2. if_else

In [ ]:
# If_Else
a = int(input("Enter the value of a : "))
b = int(input("Enter the value of b : "))
if(a<b):
    print("B is greater ")
else: # if the upper condition is false then this condition is true
    print("A is greater")

A is greater

In [ ]:
# If_Else
a = 25
b = 30
if(a<b): # if the condition is true then this execute
    print("B is greater")
else: # if the upper condition is false then this condition will execute
    print("A is greater")

# 3. if_else Ladder

In [ ]:
# 1) Percentage greater than 70 == Dist
# 2) Percentage greater than or equalto 65 and less than 70 == 1st Class
# 3) Percentage greater than or equalto 60 and less than 65 == 2nd Class
# 4) Percentage greater than or equalto 55 and less than 60 == 3rd Class
# 5) Percentage less than 55 == Fail


p = int(input("Enter your percentage : "))
if(p>=70):
    print("Dist")
elif(p>=65 and p<70): # IF the if statement is false then this code'll executed
    print("1st Class")
elif(p>=60 and p<65):
    print("2nd Class")
elif(p>=55 and p<60):
    print("3rd Class")
else:
    print("Fail")

Fail

# Nested_if

In [ ]:
# 1) Age>= 18
# 2) Weight >=50
# 3) if both age and weight match the certeria then the user can donate the blood
# 4) if age is less than 18 show one msg under age
# 5) if weight is less than 50 show one msg under weight
# 6) if age doesn't match then it should ask for weight
age = int(input("Enter your age : "))
if(age>=18):
    weight = int(input("Enter your weight"))
    if(weight>=50):
        print("Blood Donate")
    else:
        print("Under Weight")
else:
    print("Under Age")

Blood Donate

# Loops

1. Loop control statements change execution from its normal sequence. 
2. When execution leaves a scope, all automatic objects that were created in that scope are destroyed

There are three types of loops 
1. While Loop
2. For Loop
3. Nested for Loop

1. While Loop :
        In Python, a while loop is used to execute a block of statements repeatedly until a given condition is satisfied. When the condition becomes false, the line immediately after the loop in the program is executed.

2. Python While Loop Syntax:
    while expression:
        statement(s)

In [ ]:
# While loop
# 5, 9, 12, 14, 15
sum = 0
n = int(input("N : "))
while(n>0):
    sum = sum + n
    n-=1
    print("Sum : ", sum)
print("Bye")

Loop Finished
Bye

# While Loop With Else Part

In [ ]:
# While loop
# 5, 9, 12, 14, 15
sum = 0
n = int(input("N : "))
while(n>0):
    sum = sum + n
    n-=1
    print("Sum : ", sum)
else : # in python we can use else in while loop
    print("Loop Finished")
print("Bye")

# Simple For Loop

For loops are used for sequential traversal. For example: traversing a list or string or array etc. In Python, there is “for in” loop which is similar to foreach loop in other languages. Let us learn how to use for loops in Python for sequential traversals with examples.

For Loop Syntax:

for iterator_var in sequence:
    statements(s)

In [ ]:
# For loop
word = ["Python","JAVA","Angular","Graphic"]
for i in word :
    print(i, "=", len(i)) # len() is pre-defined function prvoided in python to calculate the lenght of word

Python = 6
JAVA = 4
Angular = 7
Graphic = 7

# Nested For Loop

In Python programming language there are two types of loops which are for loop and while loop. Using these loops we can create nested loops in Python. Nested loops mean loops inside a loop.

In [ ]:
# *
# **
# ***
# ****
# *****

# range(start point, end point, step(jump))
# Iterate over the range from 1 to 5 (inclusive of 1, exclusive of 6)
for i in range(1, 6):
    # For each value of i, iterate from 0 up to but not including i
    for j in range(i):
        # Print an asterisk (*) without moving to a new line (end="" prevents a newline character)
        print("*", end="")
    # After finishing the inner loop (printing stars), move to the next line
    print()

*
**
***
****
*****

In [ ]:
# Iterate over the range starting from 5 down to 1 (inclusive of 5, exclusive of 0)
for i in range(5, 0, -1):
    # For each value of i, iterate from 0 up to but not including i
    for j in range(i):
        # Print an asterisk (*) without moving to a new line (end="" prevents a newline character)
        print("*", end="")
    # After finishing the inner loop (printing stars), move to the next line
    print()

*****
****
***
**
*

In [ ]:
a = int(input("Enter the value of a : "))
b = int(input("Enter the value of b : "))
for i in range(a,b):
    for j in range(a,b):
        print("*",end="")
    print()

******
******
******
******
******
******

In [ ]:
n = int(input("enter the value of n : "))
for i in range(n):
    print("* " *(i+1))
for i in range(n-1):
    print("* " *(n-i-1))

*
* *
* * *
* * * *
* * *
* *
*

In [ ]:
n = int(input("enter the value of n : "))
for i in range(n):
    print("* " *(n-i-1))

* * * *
* * *
* *
*

In [ ]:
n = int(input("enter the value of n : "))
for i in range(1, n):
    for j in range(1, n - i):
        print(' ', end='')
    for j in range(0, 2* i -1):
        print('*', end='')
    print()

    *
   ***
  *****
 *******
*********

# Loop Control Statement

The loop control statement change the execution of the loop. when the execution leaves the scope, all automatic objects are gets destroyed.

There are three types of Looping Control Statement 
    1. Break Statement 
    2. Continue Statement 
    3. Pass Statement

1. Break Statement : Terminates the loop statement and transfer execution to the statement immediately following loop

In [ ]:
# break statement
for letter in "Python":
    if letter == "h":
        # here i'm using break statement to break execution
        break
    print("Current Letter : ", letter)

Current Letter :  P
Current Letter :  y
Current Letter :  t

2. Continue Statement : Python Continue statement is a loop control statement that forces to execute the next iteration of the loop while skipping the rest of the code inside the loop for the current iteration only, i.e. when the continue statement is executed in the loop, the code inside the loop following the continue statement will be skipped for the current iteration and the next iteration of the loop will begin.

In [ ]:
# continue statement
for var in "Geeksforgeeks":
	if var == "e":
		continue # continue statement will skip the e
	print(var)

G
k
s
f
o
r
g
k
s

3. Pass Statement : The Python pass statement is a null statement. But the difference between pass and comment is that comment is ignored by the interpreter whereas pass is not ignored.

In [ ]:
a = 10
b = 20

if(a<b):
    pass
else:
    print("b<a")

String : 
    1. String allow any data type value to be store
    2. String in python are surrounded by either single quotation marks, or double quotation marks.
    3. String is the collection of character.

What can be done?
    1. Create String
    2. Indexing and slicing 
    3. Apply built-in methods

In [ ]:
# single quote string
print('hello world')

# double quote string
print("hello world")

hello world
hello world

# Multiline String

In [ ]:
a = """Python is booming in market,
python is smart language,
python is used in AI, Machine Learning, Data Science
"""
print(a)

Python is booming in market,
python is smart language,
python is used in AI, Machine Learning, Data Science

# Update String

In [ ]:
a = "Hello World"
print(a)
print("The length of a is : ", len(a))
print("Update String : ", a[:6]+"Python" )

Hello World
The length of a is :  11
Update String :  Hello Python

# String Slicing

In [ ]:
a =  "Hello World"
# Access the value of index 1
# Index of value always start with 0
print("Index 1 : ", a[1])

# Access the value between 1 to 6
print("Index between 1 to 6 : ", a[1:6])

# Access the value till index 6
print("Index till 6 : ", a[:6])

# Access the last value from the string
print("Last Value : ", a[-1])

Index 1 :  e
Index between 1 to 6 :  ello
Index till 6 :  Hello
Last Value :  d

# String In-builds Methods

In [ ]:
# Capitalize() : This method convert the first character in string
a = "hello welcome to the world of python"
x = a.capitalize()
print(x)

Hello welcome to the world of python

In [ ]:
# Casefold() : This method convert all the capital letter into small
a = "Hello and Welcom to the World Of Python"
x = a.casefold()
print(x)

hello and welcom to the world of python

In [4]:
# Center() : This is use to bring your string into center
a = "python"
print(a)
x = a.center(20)
# update using center method
print(x)

python
       python

In [ ]:
# Count() : This method is used to count the repeated word in string
a = "I love python, python is a smart language"
x = a.count("python")
print(x)

2

# How to compare String

In [ ]:
str1 = "Apple"
str2 = "Apple"
result = str1==str2
print(result)

True

In [ ]:
str1 = "Mango"
str2 = "Python"
# result = str1 < str2
result = str1 == str2
print(result)

True

In [ ]:
str1 = 'A'
str2 = 'B'
str3 = 'C'
result = str2 < str3
print(result)

True

# Assignment
    Question 1.
        Write a program to accept a list from the user and print the alternate element of list
    Question 2. 
        Write a program to remove the element "3" from the given list [1,2,3,4,5,6].
    Question 3. 
        Write a program to insert the element "Python" on index 2 in the given list ["Java", "Php", ".Net", "Angular"]
    Question 4. 
        Write a program to add element in list using for loop.
    Question 5. 
        Write a program to perform slicing with given tuple ("Python",1,2,3,"Java",'A','B') with following slicing point:
            1. print alternative value of tuple.
            2. print value between 1 to 5.
            3. print the last value of tuple.
    Question 6. 
        Write a program to count element in given tuple(1,2,3,4,5,6,7,8,).
    Question 7.
        Write a program to convert tuple into list.

In [ ]:
# Question 1

li=[]
for i in range(4):
    n = int(input("Enter the value of n : "))
    li.append(n)

li

[1, 2, 3, 4]

In [ ]:
# Question 1
# Initialize an empty list to store the input values
li = []

# Use a for loop to repeat the following block of code user input times
a = int(input("Enter the value of a : "))
for i in range(a):
    # Prompt the user to enter a value and convert the input to an integer
    n = int(input("Enter the value of n : "))

    # Append the entered integer to the list 'li'
    li.append(n)

# Output the final list containing all the entered values
print(li)

[1, 2, 3, 4]

In [ ]:
# Question 2
list = [1,2,3,4,5,6]
list.remove(3)
print(list)
help("keywords")

[1, 2, 4, 5, 6]

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
# Question 3
l1 =  ["Java", "Php", ".Net", "Angular"]
# l1.append("Python")
l1.insert(2,"Python")
print(l1)

['Java', 'Php', 'Python', '.Net', 'Angular']

In [ ]:
# Question 4
# Initialize an empty list
my_list = []

# List of items to add
items_to_add = [1, 2, 3, 4, 5, 6]

# Use a for loop to add elements to the list
for item in items_to_add:
    my_list.append(item)

print(my_list)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5, 6]

In [ ]:
# Question 4
list1 = []
items_to_add = [1,2,"python",'a',10.3]
for items in items_to_add:
    list1.append(items)
print(list1)

[1, 2, 'python', 'a', 10.3]

# Append()

The append() method appends an element to the end of the list.

In [6]:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)
print(a)

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

# Extend()

The extend() method adds the specified list elements (or any iterable) to the end of the current list.

In [7]:
fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

# Functions

1. A function is a block of code which only runs when it is called.
2. You can pass data, known as parameters, into a function.
3. A function can return data as a result.

In [1]:
def my_function():
  print("Hello from a function")

# Calling a Function

To call a function, use the function name followed by parenthesis:

In [2]:
def my_function():
    print("Hello from a function")

my_function()

Hello from a function

In [4]:
def greeting(name):
    print("Welcome " + name)

greeting("aman")

Welcome aman

In [6]:
def greeting(name, department):
    print("Welcome " + name)
    print("You are part of " + department)

greeting("Aman", "IT Department")

Welcome Aman
You are part of IT Department

# type()

1. The type() function returns the data type of its argument.
2. The type() function helps you keep track of the data types of variables to avoid errors throughout your code.

In [12]:
print(type("security"))
print(type(8))

<class 'str'>
<class 'int'>

# str()

1. The str() function can be used to convert any data type to a string.
2. The str()function takes a single argument, which is the value that you want to convert to a string.
3. The str() function will then return a string representation of the value.

In [14]:
number = 12
string_representation = str(number)
print(string_representation)
print(type(string_representation))

12
<class 'str'>

# Sorted()

1. The sorted() function returns a sorted list of the specified iterable object.
2. You can specify ascending or descending order. Strings are sorted alphabetically, and numbers are sorted numerically.

# Note:
You cannot sort a list that contains BOTH string values AND numeric values.

In [1]:
a = ("b", "g", "a", "d", "f", "c", "h", "e")
x = sorted(a)
print(x)
# this is my comments

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

# max() and min()

1. The max() function returns the largest numeric input passed into it.
2. The min() function returns the smallest numeric input passed into it.

In [8]:
time_list = [12, 2, 32, 19, 57, 22, 14]
print(min(time_list))
print(max(time_list))

2
57

# len()

1. The len() function returns the number of items in an object.

2. When the object is a string, the len() function returns the number of characters in the string.

In [11]:
name = "Kay"
number = len(name) * 9

print("Hello " + name + ". Your lucky number is " + str(number))

name = "Cameron"
number = len(name) * 9

print("Hello " + name + ". Your lucky number is " + str(number))

Hello Kay. Your lucky number is 27
Hello Cameron. Your lucky number is 63

In [16]:
name = "Aman"
result = len(name)
print("Hello " + name + ". Your lucky number is :  " + str(result))

Hello Aman. Your lucky number is :  4

# Skill Group 1

1. Use a function that accepts multiple parameters
2. Return a result value

In [1]:
# This function calculates the number of days in a variable number of 
# years, months, and days. These variables are provided by the user and
# are passed to the function through the function’s parameters.
def find_total_days(years, months, days):
# Assign a variable to hold the calculations for the number of days in
# a year (years*365) plus the number of days in a month (months*30) plus
# the number of days provided through the "days" parameter variable.
    my_days = (years*365) + (months*30) + days
# Use the "return" keyword to send the result of the "my_days"  
# calculation to the function call. 
    return my_days
 
# Function call with user provided parameter values. 
print(find_total_days(2,5,23))

903

# Skill Group 2

1. Use a function to return the result of a measurement conversion
2. Use arithmetic operators to perform a calculation
3. Combine text with a function call within a print() statement
4. Convert the return value from a float data type to a string for the print() function
5. Call the function and perform a calculation on the return value within a print() statement

In [2]:
# This function converts fluid ounces to milliliters and returns the 
# result of the conversion.
def convert_volume(fluid_ounce):
# Calculate value of the "ml" variable using the parameter variable 
# "fluid_ounce". There are approximately 29.5 milliliters in 1 fluid
# ounce.
    ml = fluid_ounce * 29.5  
# Return the result of the calculation.  
    return ml
 
# Call the conversion from within the print() function using 2 fluid 
# ounces. Convert the return value from a float to a string.  
print("The volume in milliliters is " + str(convert_volume(2)))
 
# Call the function again and double the 2 fluid ounces from within
# the print function.
print("The volume in milliliters is " + str(convert_volume(2)*2))
# Alternative calculation:
# print("The volume in milliliters is " + str(convert_volume(4))

The volume in milliliters is 59.0
The volume in milliliters is 118.0

# Comparing Things

In [3]:
print(10>1)
#True
print("cat" == "dog")
#False
print (1 != 2)
#True

True
False
True

In [4]:
print(1 < "1")
#Will return a type error

TypeError: '<' not supported between instances of 'int' and 'str'

In [5]:
print(1 == "1")
#False

False

In [14]:
print("Yellow" > "Cyan" and "Brown" > "Magenta")
#False

False

In [8]:
print(25 > 50 or 1 != 2)
#True

True

In [9]:
print( 42 == "Answer")
#True

False

# # PART 1: Equality == and Not Equal to != Operators with Strings

In [1]:
# The == operator can check if two strings are equal to each other. 
# If they are equal, the Python interpreter returns a True result.
print("a string" == "a string")
# True


# In this example, the equality == comparison is between "4 + 5" and
# 4 + 5. Since the left data type is a string and the right data type
# is an integer, the two values cannot be equal. So, the comparison
# returns a False result.
print("4 + 5" == 4 + 5)
# False


# The != operator can check if the two strings are NOT equal to each
# other. If they are indeed not equal, then Python returns a True result.
print("rabbit" != "frog")
# True


# In this example, the variable event_city has been assigned the string 
# value "Shanghai". This variable is compared to a static string, 
# "Shanghai", using the != operator. As, the strings "Shanghai" and 
# "Shanghai" are the same, the comparison of "Shanghai" != "Shanghai" 
# is false. Accordingly, Python will return a False result.
event_city = "Shanghai"
print(event_city != "Shanghai")
# False

# This last example illustrates the result of trying to compare two
# items of different data types using the equality == operator. The
# two items are not equal, so the comparison returns False.
print("three" == 3)
# False

True
False
True
False
False

# PART 2: The Greater Than > and Less Than < Operators

In [2]:
# The greater than > operator checks if the left string has a higher 
# Unicode value than the right string. If true, the Python interpreter
# returns a True result. Since W has a Unicode value of 87, and you can 
# easily calculate that F has a Unicode value of 70, this comparison is
# the same as 87 > 70. As this is true, Python will return a True 
# result.
print("Wednesday" > "Friday")
# True
 
 
# The less than < operator checks if the left string has a lower 
# Unicode value than the right string. If you reference the Unicode 
# chart above, you can see that all lowercase letters have higher 
# Unicode values than uppercase letters. We can see that B has a 
# Unicode value of 66 and b has a Unicode value of 98. This 
# comparison is the same as 66 < 98, which is true. So, Python will 
# return a True result.
print("Brown" < "brown")
# True


# If the strings have the same first few letters, the comparison will 
# cycle through each letter of each string, from left to right until it 
# finds two letters that have different Unicode values. In this example, 
# both strings share the initial substring "sun", but then have 
# different letters with different Unicode values in the fourth place 
# in each string. So, the fourth letters 'b' and 't' of the two
# strings are used for the comparison. Since 'b' does not have a higher
# Unicode value than 't', the comparison returns a False result.
print("sunbathe" > "suntan")
# False


# If two identical strings are compared using the less than < comparison
# operator, this will produce a False result because they are equal.
print("Lima" < "Lima")
# False


# This last example illustrates the result of trying to compare two
# items of different data types using the less than < operator. The 
# greater than > and less than operators < cannot be used to compare
# two different data types. 
print("Five" < 6)


'''
Error on line 1:
    print("Five" < 6)
TypeError: '<' not supported between instances of 'str' and 'int'

'''

True
True
False
False

TypeError: '<' not supported between instances of 'str' and 'int'

# PART 3: The Greater Than or Equal To >= and Less Than or Equal To <= Operators

1. "my computer" >= "my chair"
2. "Spring" <= "Winter"
3. "pineapple" >= "pineapple"

In [3]:
# Use the Unicode chart in Part 2 to determine if the Unicode values of 
# the first letters of each string are higher, lower, or equal to one
# another. 


var1 = "my computer" >= "my chair"
var2 = "Spring" <= "Winter"
var3 = "pineapple" >= "pineapple"
 
print("Is \"my computer\" greater than or equal to \"my chair\"? Result: ", var1)
print("Is \"Spring\" less than or equal to \"Winter\"? Result: ", var2)
print("Is \"pineapple\" less than or equal to \"pineapple\"? Result: ", var3)

Is "my computer" greater than or equal to "my chair"? Result:  True
Is "Spring" less than or equal to "Winter"? Result:  True
Is "pineapple" less than or equal to "pineapple"? Result:  True