In [6]:
print("Hello")

Hello

In [7]:
# type()
b = "World"
print(type(b))

<class 'str'>

In [8]:
# type()
c = 10.5 
print(type(c))

<class 'float'>

In [3]:
# type ()
a = 10
print(type(a))

<class 'int'>

Using Input

In [9]:
a = input("Enter the value of a")
print("A : ", a)

A :  10

Comments

In [ ]:
#single line comments

# we can type anything in comments
# This is  a single line comments 
# we can always use (#) symbol in single line comments

In [ ]:
# multiline comments

'''This is 
a multiline
comments in 
python'''

KeyWords

In [10]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

DataTypes

1. Data types are used before the veriable, to know which type of values  are stored in veriable.
2. Data types are actually classes and veriables are instence (objects) of these classes

1. Numeric - integer, float, complex number
2. Boolean - True, False
3. Set
4. Dictionary 
5. Sequence - List, Tuple, String

In [11]:
# int DataType
a = 10
print(type(a))

# float DataType
b = 10.5
print(type(b))

# complex DataType
c = 2 + 4j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

Boolean

In [12]:
d = True
print(type(d))

e = False
print(type(e))

<class 'bool'>
<class 'bool'>

Set DataType

1. Sets are used to store multiple items in a single variable.
2. A set is a collection which is unordered, unchangeable*, and unindexed.

In [13]:
f = {'a', 'b', 'c'}
print(type(f))

<class 'set'>

Dictionary DataType

In [14]:
x = {"Key":"Value"}
print(type(x))

<class 'dict'>

Sequence DataType

In [16]:
# List DataType
l1 = [1,2,3,4,5]
print(type(l1))

# String DataType
y = "Python Program"
print(type(y))

# Tuple DataType
z = (1,2,3,4,5)
print(type(z))

<class 'list'>
<class 'str'>
<class 'tuple'>

Variable

1. Variable are names to store the value
2. Rules of Variable
    1. variable should start with alphabets only
    2. variable name should not have whitespace
    3. we cannot use dataType name as a variable name
    4. variable name are significant

In [21]:
# int value to the variable
a = 10
print(a)
print(type(a))

# float value to the variable
b = 10.5
print(b)   
print(type(b))

# string value to the variable
c = "python"
print(c)
print(type(c))

# list store ub the variable
l1 = [1,2,3,4,5]
print(l1)
print(type(l1))


# tuple store in the variable
t1 = (1,2,3,4,5)
print(t1)
print(type(t1))

10
<class 'int'>
10.5
<class 'float'>
python
<class 'str'>
[1, 2, 3, 4, 5]
<class 'list'>
(1, 2, 3, 4, 5)
<class 'tuple'>

TypeConversion/TypeCasting

In [23]:
# converting from one datatype to another datatype called 
# typeCoversion / typeCasting

a = int(input("Enter the value of A : ")) #default type is string
print("A : ", a)
print(type(a))

A :  10
<class 'int'>

Operators

1. Operators are used to perform operations on variables and values in python
2. Type of Operators :
    1. Arithmetic Operators (+, -, *, /, %(modules), ++(increment), --(decrement))
    2. Assignment Operators (=, +=, -=, *=, /=, %=, <<=, >>=, >>>=, &=, ^=, |=)
    3. Comparison Operators (>, <, <=, >=, ==, !=, ===(Equal value and same type), !===(Not equal value and not same type))
    4. Logical Operators (And, Or, Not)
    5. Identity Operators (Is(return true if both variable are same object), Is Not(return true if both variable are not same object))
    6. Membership Operators (In (Return true if a sequence with the specified value is present in the object), Not In (Return true if a sequence with the specified value is not present in the object))

Arithmetic Operators

In [24]:
# Addition Operators
x = 5
y = 10
z = x+y
print("Answer : ", z )

Answer :  15

In [25]:
# Substraction Operators
x = 10
y = 5
z = x-y
print("Subtract : ", z)

Subtract :  5

In [1]:
# Multiplication Operator
x = 10
y = 4
z = x*y
print("Answer : ", z)

Answer :  40

In [3]:
# Devision Operator
x = 20
y = 5
z = int(x/y) # default value is float
print("Answer : ", z)

Answer :  4

In [4]:
# Modules Operator
x = 7
y = 3
z = x%y
print("Answer : ", z)

Answer :  1

In [ ]:
# Increment Operator
a = 5